<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
>
<div class="row" th:fragment="navbar">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="@{/}">
            대시보드 <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mypage}">
            사용자 페이지
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/messages}">
            매니저 페이지
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</html>